/* -- Colors -- */
$primary: purple;
$secondary: blue;
$tertiary: green;

$black: #0a0a0a;
$grey: #838383;
$off-white: #f2f2f2;
$white: #ffffff;

$font-color: $black;

$success: green;
$info: blue;
$warning: orange;
$error: red;

$border-light: $off-white;

/* -- Fonts -- */
$body-font: 'DM Sans';
$header-font: 'DM Sans';

$body-font-size: 1.2rem;

/* -- Other -- */
$default-border-radius: 10px;