.custom-swiper {
    position: relative;
    padding: 0 30px;
    margin-bottom: 30px;

    .swiper-button-next, .swiper-button-prev {
        color: $grey;

        &::after {
            content: "";
        }

        &:hover {
            color: $black;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}

@include md-breakpoint {
    .custom-swiper {
        padding: 0 15px;
        
        .swiper-button-prev {
            left: -15px;
        }
    
        .swiper-button-next {
            right: -15px;
        }
    }
}